@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300;400;500;600;700&family=Rosarivo:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Rosario", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Rosarivo", serif;
  
  --color-jedo-red: #E11D48;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  body {
    @apply bg-white text-black font-sans antialiased;
  }
}

@layer utilities {
  /* Precise Tracking */
  .tracking-tightest {
    letter-spacing: -0.05em;
  }
  
  .tracking-widest-extra {
    letter-spacing: 0.35em;
  }
  
  /* Precise Line Heights */
  .leading-tightest {
    line-height: 0.85;
  }

  .leading-extra-tight {
    line-height: 1.05;
  }
}
